{% extends "base.html" %}
{% load bootstrap3 %}
{% load mptt_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
{% endblock extra_head %}

{% block h1 %}Lista de Personas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a id="id_editar_persona" role="button" class="btn btn-primary" href="" disabled="">Editar Persona</a>
            <a id="id_eliminar_persona" role="button" class="btn btn-danger" href="" disabled="">Eliminar Persona</a>
            <a id="id_expandir" role="button" class="btn btn-info" onclick="jstreeToggleState();">Contraer</a>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-4">
            <div id="tree1">
                <ul>
                    {% recursetree personas %}
                        <li id="{{ node.usuario.id }}">
                            <a href="{% url 'campana:persona_edit' node.usuario.id %}">
                                {{ node.usuario.get_full_name }}
                                | Personas a su cargo: {{ node.get_descendant_count }}
                                | Votantes: {{ node.get_votante_count }}
                            </a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_script %}
{#    <script src="{% static 'dist/js/tree.jquery.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="application/javascript">
        $(function () {
            $('#tree1').jstree({
                "core" : {
                    "themes" : {
                        "icons" : false
                    },
                    "multiple": false
                },
                "plugins" : ["search"]
            });
            $('#tree1').on('ready.jstree', function(){
                $(this).jstree('open_all');
            });
            var to = false;
            $('#tb_search').keyup(function () {
                if(to) { clearTimeout(to); }
                to = setTimeout(function () {
                    var v = $('#tb_search').val();
                    $('#tree1').jstree(true).search(v);
                }, 250);
            });
        });
        $('#tree1').on("select_node.jstree", function (e, data) {
            var href = data.node.a_attr.href;
            if(href == '#')
                return '';
            $('#id_editar_persona').removeAttr('disabled');
            $('#id_editar_persona').attr("href", href);
            $('#id_eliminar_persona').removeAttr('disabled');
            $('#id_eliminar_persona').attr("href", href+"delete/");
        });

        $(function () {
            $("#plugins4").jstree({
                "plugins" : [ "search" ]
            });

        });
        $('#tb_search').keyup()
        var isTreeOpen = true;
        function jstreeToggleState() {
            if(isTreeOpen){
                $("#tree1").jstree('close_all');
                $('#id_expandir').text("Expandir");
            }else{
                $("#tree1").jstree('open_all');
                $('#id_expandir').text("Contraer");
            }
            isTreeOpen =! isTreeOpen;
        }
    </script>
{% endblock %}
