{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="author" content="OpenMind">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- MetisMenu CSS -->
    <link href="{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    {% block extra_head %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'campana:index' %}"><span class="fa fa-fw fa-code"></span> Gestión de Campaña</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if candidato %}
                    <li><strong>Candidato:</strong> {{ candidato }} | </li>
                {% endif %}
                {% if padre %}
                    <li><strong>Depende de:</strong> {{ padre }} | </li>
                {% endif %}
                <li><strong>Usuario:</strong> {{ user.get_full_name }}</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'campana:persona_edit' user.id %}"><i class="fa fa-user fa-fw"></i> Perfil Usuario</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>

                        {% with url_name=request.resolver_match.url_name %}
                            <li>
                                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            {% if perms.campana.add_persona %}
                                <li>
                                    <a href="{% url 'campana:persona_add' %}" {% if url_name == 'persona_add'%}class="active"{% endif %}><i class="fa fa-sitemap fa-fw"></i> Agregar Persona</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'campana:votante_add' %}" {% if url_name == 'votante_add'%}class="active"{% endif %}><i class="fa fa-user-plus fa-fw"></i> Agregar Votante</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> Listados<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li {% if url_name == 'votante_list'%}class="active"{% endif %}><a href="{% url 'campana:votante_list' %}">Votantes</a></li>
                                    {% if perms.campana.add_persona %}
                                        <li {% if url_name == 'persona_list'%}class="active"{% endif %}><a href="{% url 'campana:persona_list' %}">Personas</a></li>
                                    {% endif %}
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endwith %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block h1 %}{% endblock h1 %}</h1>
                </div>
            </div>
            {% if messages %}
                <div class="row">
                    <div class="col-lg-6">
                        {% bootstrap_messages %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <!-- Extra SCRIPTS -->
    {% block extra_script %} {% endblock %}
    <!-- END: Extra SCRIPTS -->
</body>

</html>